body{
    display: flex;
    flex-direction: column;
    justify-content: center
}
body{
    background: linear-gradient(to left, white , blue);
    margin: 0px;
    
}
 header{
    flex: 20%;
} 
.piggy_img{
    display: flex;
    padding: 10px;
    padding-right: 0px;
    justify-content: center;
}
.piggy_img h1{
    color: navy;
    font-family: sans-serif;
}
 .container{
    flex: 80%;
} 
.container{
    margin: auto;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    padding-bottom: 30px; 
    border-bottom-left-radius: 0px; 
}
.container h2{
    color: navy;
}
.head{
    padding-top: 20px;
    text-align: center;
    line-height: 2.0px;
    padding-bottom: 30px;
}
.bottom{
    background-color: navy;
}
.forms{
    padding-left: 20px;
    padding-right: 20px;
}
.submit{
    background: navy;
    color: white;
    font-size: larger;
    height: 50px;
    width: 300px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
}
input, select{
    height: 50px;
    width: 300px;
    border-radius: 5px;
    background-color: whitesmoke;
}
header{
    padding-bottom: 30px;
}
label{
    font-weight: bold;
}
@media(max-width:450px){
    .container{
        margin: 0px;
    }
    body{
        background: rgb(205, 216, 236);
    }
}

